/* 
Custom properties
*/
:root{
    --clr-primary: hsl(158, 36%, 37%);
    --clr-secondary: hsl(30, 38%, 92%);

    --clr-drk-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);

    --clr-white: hsl(0, 0%, 100%);

    --fw-500: 500;
    --fw-700: 700;

    --ff-primary: "Monserrat", sans-serif;
    --ff-secondary: "Fraunces", serif;
}

/* 
Resets
*/
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: var(--ff-primary);
    font-size: 14px;
    background-color: var(--clr-secondary);
    color: var(--clr-grayish-blue);
    display: grid;
    place-items: center;
    height: 100vh;
    padding-block: 3rem;
}

h1{
    font-family: var(--ff-secondary);
    color: var(--clr-drk-blue);
}
/* 
Utility classes
*/
.container{
    width: min(90%, 40rem);
    margin-inline: auto;
}

.space-content > * + * {
    margin-top: var(--space, 1rem);
}

/* 
Main
*/
main{
    background-color: var(--clr-white);
    border-radius: 10px;
}
.img-container{
    background-image: url("./images/image-product-mobile.jpg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text-container{
    padding: 0px 20px 20px;
}
.top-text{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.pricing{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.pricing p:first-child{
    color: var(--clr-primary);
    font-size: 2rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-secondary);
}
.pricing p:last-child{
    text-decoration: line-through;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    padding-block: 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-weight: var(--fw-700);
}

.attribution{
    padding-block: 3rem;
    font-size: 12px;
}
.attribution a{
    color: var(--clr-drk-blue);
}

@media(min-width: 760px) {
    main{
        display: flex;
    }
    .img-container{
        background-image: url("./images/image-product-desktop.jpg");
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    h1{
        font-size: 2.75rem;
    }
    body{
        font-size: 1rem;
    }
}